.payment-trip-page {
  text-align: center;
  margin: 50px;
}

.payment-button {
  background-color: #0070ba;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.payment-button:hover {
  background-color: #005f9a;
}
